{% extends 'base.html' %}
{% load static %}
{% block title %}Bakım Bilgisi Düzenle{% endblock %}
{% block extra_head %}
    <link href="{% static 'css/bakim_form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card p-4">
    <h1>Bakım Kaydını Düzenle</h1>
    <a href="{% url 'bakim_listesi' %}" class="btn btn-secondary mb-3">← Bakım Listesine Geri Dön</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>
</div>
{% endblock %}